agent-orchestration/HTF-weightlessagent-final.json
{
  "name": "HTF-weightlessagent-final",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.message }}",
        "options": {
          "systemMessage": "You are the Master Agent, the orchestrator of the Supply Chain Resilience System. Your goal is to transform raw disruption data into a transparent, actionable risk report.\n\nYou MUST call tools in this exact order:\n1. PERCEPTION AGENT: To gather news signals and supplier context.\n2. RISK INTELLIGENCE AGENT: To perform deep impact simulations and trade-off analysis.\n\nAFTER tools return, you must synthesize the final response.\n\nRESPONSIBLE AI RULES:\n- TRANSPARENT REASONING: Populate the `reasoning_trace` with timestamps and specific logic used (e.g., \"Calculated financial exposure based on JIT lead times\").\n- HUMAN-IN-THE-LOOP: Do NOT execute orders. You must DRAFT actions (emails, POs) for the user to review and approve.\n- BIAS MITIGATION: Base all recommendations on objective metrics (Cost, Service Score, Resilience).\n\nCOST SAVINGS RULE:\n- Each mitigation option MUST include a `cost_avoidance` field calculated as: revenue_at_risk - cost.\n  This tells the user exactly how much money the option saves versus doing nothing.\n\nOUTPUT FORMAT (Strict RAW JSON):\n{\n  \"risk_score\": number,\n  \"revenue_at_risk\": number,\n  \"orders_affected\": number,\n  \"sla_risk\": number,\n  \"explanation\": \"Markdown string summarizing the disruption and logic\",\n  \"mitigation_options\": [\n    {\n      \"option\": \"string\",\n      \"cost\": number,\n      \"cost_avoidance\": number,\n      \"service_score\": number,\n      \"resilience_score\": number,\n      \"final_score\": number,\n      \"pros\": [\"string\"],\n      \"cons\": [\"string\"],\n      \"recommended\": boolean\n    }\n  ],\n  \"actions\": {\n    \"supplier_email\": { \"to\": \"string\", \"subject\": \"string\", \"body\": \"string\" },\n    \"po_suggestion\": { \"type\": \"string\", \"sku\": \"string\", \"quantity\": number, \"estimated_cost\": number },\n    \"escalation\": { \"to\": \"string\", \"priority\": \"high\", \"note\": \"string\" }\n  },\n  \"reasoning_trace\": [\n    { \"step\": number, \"action\": \"string\", \"detail\": \"string\", \"ts\": \"HH:MM:SS\" }\n  ],\n  \"bias_mitigation_statement\": \"Briefly state why the recommendation is objective.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        240
      ],
      "id": "f1ab7c88-ebd6-40a5-a596-df0b7c147144",
      "name": "Master Agent"
    },
    {
      "parameters": {
        "toolDescription": "Fetches real-time news articles from NewsAPI. Use this tool to search for supply chain disruption news. Pass the news query as the 'q' parameter.\n",
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "pageSize",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "f22173b4872e4c909efca676109032e6"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -240,
        640
      ],
      "id": "22bd6e91-cc8e-4b1b-ac23-4d22c8ffd9e5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "toolDescription": "You are the Perception Agent. Your job is to fetch real-time news about supply chain disruptions.\n\nYou MUST use the HTTP Request tool to search for news articles. Do NOT make up or fabricate articles.\n\nUse the news_query and news_keywords from the user's message to search for articles.\n\nAfter receiving the HTTP response, extract the top 3-5 most relevant articles and return them as a JSON object with:\n- \"top_articles\": array of articles with title, source, url, publishedAt, and description\n- \"risk_summary\": a 2-3 sentence summary of the key risks identified",
        "text": "=={{ $json.message }}",
        "options": {
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -480,
        464
      ],
      "id": "1aef83a4-7c8e-4832-aad0-f2cd0a8abe7d",
      "name": "Perception Agent"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "htf-weightless-agents",
          "mode": "list",
          "cachedResultName": "HTF-weightless-agents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -80,
        80
      ],
      "id": "0323c52d-e8d3-4025-acc4-61d956ee018c",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "bPJgZRANOhctDRFT",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "htf-weightless-agents",
          "mode": "list",
          "cachedResultName": "HTF-weightless-agents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -704,
        640
      ],
      "id": "25282f0e-d1a9-48eb-97da-4d696fe2f95f",
      "name": "Google Vertex Chat Model1",
      "credentials": {
        "googleApi": {
          "id": "bPJgZRANOhctDRFT",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Risk Intelligence Agent",
        "text": "You are the Risk Intelligence Agent. You receive supplier profiles and news signals to model operational and financial failure points.\n\nTASK:\n1. PROBABILITY SCORING: Analyze news recency and corroboration to set a disruption probability (0-100%).\n2. IMPACT MODELING: Calculate 'Lead Time Increase' and 'Inventory Runway' (how many weeks until stockout).\n3. TRADE-OFF SIMULATION: You must simulate three distinct scenarios:\n   - Scenario A: \"Status Quo\" (No action, highest risk).\n   - Scenario B: \"Agile Diversion\" (Partial mitigation, balanced cost).\n   - Scenario C: \"Maximum Resilience\" (Full rerouting, high cost).\n\nCOST SAVINGS CALCULATION:\n- For each scenario, calculate `cost_avoidance` as: total_exposure - cost.\n  This represents how much financial loss the scenario prevents compared to taking no action.\n- Scenario A (Status Quo) should always have cost_avoidance = 0 since it IS the no-action baseline.\n\nRISK CONTROL MECHANISMS:\n- If 'Revenue at Risk' exceeds $500k OR 'Risk Score' > 75, flag the 'recommended_escalation' as 'executive'.\n- Ensure 'service_score' is impacted by transit delays (+days).\n\nOUTPUT FORMAT (JSON):\n{\n  \"probability\": number,\n  \"impact\": {\n    \"lead_time_weeks\": number,\n    \"runway_weeks\": number,\n    \"affected_skus\": [\"string\"]\n  },\n  \"scenarios\": [\n    {\n      \"name\": \"string\",\n      \"cost\": number,\n      \"cost_avoidance\": number,\n      \"service_level\": number,\n      \"resilience_rating\": number,\n      \"time_to_implement_days\": number\n    }\n  ],\n  \"financials\": {\n    \"daily_burn_rate\": number,\n    \"total_exposure\": number\n  },\n  \"recommended_path\": \"Scenario A/B/C\",\n  \"recommended_escalation\": \"operations | executive\"\n}",
        "options": {
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        80,
        448
      ],
      "id": "1f1f095a-c7b0-4a77-83f1-3b822c8d3635",
      "name": "Risk Intelligence Agent Tool"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "htf-weightless-agents",
          "mode": "list",
          "cachedResultName": "HTF-weightless-agents"
        },
        "modelName": "gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -48,
        656
      ],
      "id": "038ab182-f4eb-4615-ade3-6430f6653818",
      "name": "Google Vertex Chat Model2",
      "credentials": {
        "googleApi": {
          "id": "bPJgZRANOhctDRFT",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9e501223-34e5-48eb-a04c-a22959509df8",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "http://localhost:5173"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        240
      ],
      "id": "848347e5-05ea-44dc-950e-27578d897a9a",
      "name": "Webhook",
      "webhookId": "9e501223-34e5-48eb-a04c-a22959509df8"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        128
      ],
      "id": "c719318a-1ea5-464e-9602-2c1fde3c1380",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a323d34a-55f6-4889-893d-45015e88e90f",
              "name": "message",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        240
      ],
      "id": "366d0a0e-e095-45dc-8582-adec8fac326e",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Perception Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perception Agent": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Master Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Perception Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Risk Intelligence Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Risk Intelligence Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Master Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "71008f5c-2d4a-4850-8424-13b45a129e6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de854a45b4890e134daa3934f1a2c157a3eedd66f4e6fb7d9b48708fac1c6ae8"
  },
  "id": "xHBOzVoGxXNRYoQI",
  "tags": []
}